name: Continuous Integration and Continuous Deployment

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'helm/**'
      - 'k8s/**'
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22.5'

      - name: Build
        run: go build -o go-web-app

      - name: Test
        run: go test ./...

  static-code-analysis:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: latest

  push-image:
    runs-on: ubuntu-latest
    needs: static-code-analysis
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/my-web-app:${{ github.run_id }}

  update-helm-tag:
    runs-on: ubuntu-latest
    needs: push-image
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update tag in Helm values
        run: |
          sed -i 's/tag:.*/tag: "${{ github.run_id }}"/' helm/my-web-app/values.yaml

      - name: Commit and push changes
        run: |
          git config --global user.email "deepanshuchopra008@gmail.com"
          git config --global user.name "Deepanshu Chopra"
          git add helm/my-web-app/values.yaml
          git commit -m "Update image tag to ${{ github.run_id }}"
          git push
